<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/booktravel">
		</property>
		<property name="user" value="root"></property>
		<!-- CBdogaxx19941218 -->
		<property name="password" value="CBdogaxx19941218"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/app/booktravel/user/model/User.hbm.xml</value>
				<value>com/app/booktravel/user/model/Topic.hbm.xml</value>
				<value>com/app/booktravel/user/model/Mybook.hbm.xml</value>
				<value>com/app/booktravel/user/model/Driftprocess.hbm.xml</value>
				<value>com/app/booktravel/user/model/Driftpoint.hbm.xml</value>
				<value>com/app/booktravel/user/model/Comment.hbm.xml</value>
				<value>com/app/booktravel/user/model/Bookreview.hbm.xml</value>
				<value>com/app/booktravel/user/model/Book.hbm.xml</value>
				<value>com/app/booktravel/user/model/Admin.hbm.xml</value>
				<value>com/app/booktravel/user/model/Activity.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--启动注解用注解来管理事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />


	<!-- DAO注入sessionFactory -->
	<bean id="UserDAO" class="com.app.booktravel.user.daoimpl.UserDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="TopicDAO" class="com.app.booktravel.user.daoimpl.TopicDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="MybookDAO" class="com.app.booktravel.user.daoimpl.MybookDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="DriftprocessDAO" class="com.app.booktravel.user.daoimpl.DriftprocessDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="DriftpointDAO" class="com.app.booktravel.user.daoimpl.DriftpointDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="CommentDAO" class="com.app.booktravel.user.daoimpl.CommentDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="BookreviewDAO" class="com.app.booktravel.user.daoimpl.BookreviewDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="BookDAO" class="com.app.booktravel.user.daoimpl.BookDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="AdminDAO" class="com.app.booktravel.user.daoimpl.AdminDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="ActivityDAO" class="com.app.booktravel.user.daoimpl.ActivityDAOImpl">
		<!-- 注入持久化操作所需的SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--service注入dao id为下面的ref class为 service实现类 name="service实现类中声明的dao" -->
	<bean id="UserService" class="com.app.booktravel.user.serviceimpl.UserServiceImpl">
		<property name="userdao" ref="UserDAO" />
	</bean>

	<bean id="TopicService" class="com.app.booktravel.user.serviceimpl.TopicServiceImpl">
		<property name="topicdao" ref="TopicDAO" />
	</bean>

	<bean id="MybookService" class="com.app.booktravel.user.serviceimpl.MybookServiceImpl">
		<property name="mybookdao" ref="MybookDAO" />
	</bean>

	<bean id="DriftprocessService"
		class="com.app.booktravel.user.serviceimpl.DriftprocessServiceImpl">
		<property name="driftprocessdao" ref="DriftprocessDAO" />
	</bean>

	<bean id="DriftpointService"
		class="com.app.booktravel.user.serviceimpl.DriftpointServiceImpl">
		<property name="driftpointdao" ref="DriftpointDAO" />
	</bean>

	<bean id="CommentService" class="com.app.booktravel.user.serviceimpl.CommentServiceImpl">
		<property name="commentdao" ref="CommentDAO" />
	</bean>

	<bean id="BookService" class="com.app.booktravel.user.serviceimpl.BookServiceImpl">
		<property name="bookdao" ref="BookDAO" />
	</bean>

	<bean id="BookreviewService"
		class="com.app.booktravel.user.serviceimpl.BookreviewServiceImpl">
		<property name="bookreviewdao" ref="BookreviewDAO" />
	</bean>

	<bean id="AdminService" class="com.app.booktravel.user.serviceimpl.AdminServiceImpl">
		<property name="admindao" ref="AdminDAO" />
	</bean>

	<bean id="ActivityService" class="com.app.booktravel.user.serviceimpl.ActivityServiceImpl">
		<property name="activitydao" ref="ActivityDAO" />
	</bean>

	<!-- Action注入 service id="" 注入 class="action路径" name="loginservice"与LoginAction中声明的要保持一致 
		ref随便取 -->
	<bean id="UserAction" class="com.app.booktravel.user.action.UserAction"
		scope="prototype">
		<property name="userservice" ref="UserService" />
	</bean>

	<bean id="TopicAction" class="com.app.booktravel.user.action.TopicAction"
		scope="prototype">
		<property name="topicservice" ref="TopicService" />
	</bean>

	<bean id="MybookAction" class="com.app.booktravel.user.action.MybookAction"
		scope="prototype">
		<property name="mybookservice" ref="MybookService" />
	</bean>

	<bean id="DriftprocessAction" class="com.app.booktravel.user.action.DriftprocessAction"
		scope="prototype">
		<property name="driftprocessservice" ref="DriftprocessService" />
	</bean>

	<bean id="DriftpointAction" class="com.app.booktravel.user.action.DriftpointAction"
		scope="prototype">
		<property name="driftpointservice" ref="DriftpointService" />
	</bean>

	<bean id="CommentAction" class="com.app.booktravel.user.action.CommentAction"
		scope="prototype">
		<property name="commentservice" ref="CommentService" />
	</bean>

	<bean id="BookreviewAction" class="com.app.booktravel.user.action.BookreviewAction"
		scope="prototype">
		<property name="bookreviewservice" ref="BookreviewService" />
	</bean>

	<bean id="BookAction" class="com.app.booktravel.user.action.BookAction"
		scope="prototype">
		<property name="bookservice" ref="BookService" />
	</bean>

	<bean id="AdminAction" class="com.app.booktravel.user.action.AdminAction"
		scope="prototype">
		<property name="adminservice" ref="AdminService" />
	</bean>

	<bean id="ActivityAction" class="com.app.booktravel.user.action.ActivityAction"
		scope="prototype">
		<property name="activityservice" ref="ActivityService" />
	</bean>
</beans>